{% load static %}

<header class="nk-header has-shape">
    <div class="nk-shape bg-shape-blur-c ms-n20p mt-n20p start-50 translate-middle-x"></div>
    <div class="nk-header-main nk-menu-main will-shrink has-border ignore-mask">
       <div class="container">
          <div class="nk-header-wrap">
             <div class="nk-header-logo">
                <a href="#" class="logo-link">
                   <div class="logo-wrap"><img class="logo-img logo-dark" src="{% static 'images/logo.png' %}" srcset="#" alt=""></div>
                </a>
             </div>
             <div class="nk-header-toggle"><button class="btn btn-light btn-icon header-menu-toggle"><em class="icon ni ni-menu"></em></button></div>
             <nav class="nk-header-menu nk-menu">
                <ul class="nk-menu-list mx-auto">

                   <li class="nk-menu-item"><a href="{% url 'home' %}" class="nk-menu-link"><span class="nk-menu-text">Home</span></a></li>
                   <li class="nk-menu-item"><a href="{% url 'transcription' %}" class="nk-menu-link"><span class="nk-menu-text">Transcription</span></a></li>
                   <li class="nk-menu-item"><a href="{% url 'summarizer' %}" class="nk-menu-link"><span class="nk-menu-text">Meeting Summarizer</span></a></li>

                   <li class="nk-menu-item"><a href="{% url 'realtime' %}" class="nk-menu-link"><span class="nk-menu-text">Real Time Transcription</span></a></li>
                </ul>
                <ul class="nk-menu-buttons flex-lg-row-reverse">

                   <button onclick="toggleLanguage()" class="trans_button btn btn-primary" > EN/JP  <i class="fa fa-globe fa-1.5x" style="color:#ffffff; padding:5px;"></i></button>
                   <li class="nk-menu-item"><a href="https://george-mountain.github.io/" class="nk-menu-link" target="_blank"><span class="nk-menu-text">About Us</span></a></li>

                </ul>
             </nav>
          </div>
       </div>
    </div>
<!-- lang -->
<div id="google_translate_element" style="display:none;"></div>
 </header>
